<!--Section: Jumbotron-->
<section class="card wow fadeIn premium_ad_bg">

  <!-- Content -->
  <div class="card-body text-white text-center py-5 px-5 my-5">

    <h1 class="mb-4">
      <strong>Become a Premium Member</strong>
    </h1>

    <p>
      <strong>Offering discounts on all products</strong>
    </p>

    <%= link_to "upgrade now", upgrade_user_url(current_user), class: "btn btn-outline-white btn-lg", data: {confirm: "Are you sure?"}, remote: true, method: :put %>

  </div>
  <!-- Content -->
</section>
<!--Section: Jumbotron-->
